//---------TAILWINDCSS

@tailwind base;
@tailwind components;
@tailwind utilities;


//---------IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

//---------Toggle button
#toggle:checked~label div .toggle-active {
  @apply translate-x-3 bg-blue-400;
}

.toggle-reload {
  @apply ml-3 bg-blue-900;
}



//---------Tags Area------------
body {
    background-color: white;
    //background: url('background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}